In [87]:
from transformer_lens import HookedTransformer
import transformer_lens.utils as utils

In [88]:
import pandas as pd
import numpy as np
import re
import random
import json
from datasets import Dataset, Features, Value, ClassLabel, Sequence

In [89]:
TOKEN_NAME_SIZE = 1
QUANTILE_THRESHOLD = 0.9
DATASET_SIZE = 100
TEMPLATE_TYPE = "subject_with_name"
MODEL_NAME = "gpt2-small"
PROMPT_TYPE_SIZE = 10

NAMES_FILEPATH = "../datasets/names.csv"
DATASET_PATH = "../datasets/names_dataset.csv"

In [90]:
model = HookedTransformer.from_pretrained(
    MODEL_NAME,
    center_unembed=True,
    center_writing_weights=True,
    fold_ln=True,
    refactor_factored_attn_matrices=True
)

Loaded pretrained model gpt2-small into HookedTransformer

In [91]:
she_token = model.to_tokens(f" she", prepend_bos=False)[0].tolist()[0]
he_token  = model.to_tokens(f" he", prepend_bos=False)[0].tolist()[0]

In [92]:
df = pd.read_csv(NAMES_FILEPATH)
df.head()

,name,F,M,name_weight,F_prop,M_prop,F_weighted,M_weighted,F_weighted_norm,M_weighted_norm,gpt2-small,gpt2-small-size
0,Aaban,0,87,2.550345e-07,0.0,1.0,0.000000e+00,2.550345e-07,0.000000,0.000505,"317,45094",2
1,Aabha,28,0,8.208008e-08,1.0,0.0,8.208008e-08,0.000000e+00,0.000166,0.000000,"317,397,3099",3
2,Aabid,0,5,1.465716e-08,0.0,1.0,0.000000e+00,1.465716e-08,0.000000,0.000029,"317,397,312",3
3,Aabriella,15,0,4.397147e-08,1.0,0.0,4.397147e-08,0.000000e+00,0.000089,0.000000,"317,397,380,12627",4
4,Aada,5,0,1.465716e-08,1.0,0.0,1.465716e-08,0.000000e+00,0.000030,0.000000,"317,4763",2

In [93]:
df[ df["name"] == "Willie" ]

,name,F,M,name_weight,F_prop,M_prop,F_weighted,M_weighted,F_weighted_norm,M_weighted_norm,gpt2-small,gpt2-small-size
91109,Willie,146134,448091,0.001742,0.245924,0.754076,0.000428,0.001314,0.864784,2.602955,28623,1

In [94]:
# df[ df["name"] == "Willie" ]
m_quantile = df[ df["M_weighted_norm"] > df["F_weighted_norm"]]["M_weighted_norm"].quantile(0.95)
f_quantile = df[ df["F_weighted_norm"] > df["M_weighted_norm"]]["F_weighted_norm"].quantile(0.95)
m_quantile, f_quantile

(0.021796479275499426, 0.01702299369955713)

In [95]:
def fill_prompt(prompt: str, 
                fillers: dict) -> str:
    """
    Fills a prompt template by replacing placeholders with actual values.

    Args:
        prompt (str): The prompt template containing placeholders in square brackets.
        name (str): The name to insert into the prompt.
        fillers (dict): Dictionary with possible replacements for placeholders.

    Returns:
        str: The filled prompt with all placeholders replaced.
    """
    elems = re.findall(r"\[(.*?)\]", prompt)
    for elem in elems:
        if elem in fillers:
            prompt = re.sub(rf"\[{elem}\]", random.choice(fillers[elem]), prompt)

    return prompt

In [96]:
def get_prompts(df: pd.DataFrame, prompt: str) -> pd.DataFrame:
    return pd.DataFrame({
        "original_prompt": df.apply(lambda row: re.sub(r"\[name\]", row["name_1"], prompt), axis=1),
        "corrupted_prompt": df.apply(lambda row: re.sub(r"\[name\]", row["name_2"], prompt), axis=1),
        "ablation_prompt": df.apply(lambda row: re.sub(r"\[name\]", "someone", prompt), axis=1)
    })

def get_name_token_info(model: HookedTransformer, 
                        df: pd.DataFrame, 
                        name_col: str = "name_1", 
                        prompt_col: str = "original_prompt") -> pd.DataFrame:
    """
    Returns token ids, token strings, and token positions for just the name (not the whole prompt) using the provided model.

    Args:
        model: The language model used for tokenization.
        df: DataFrame containing at least the columns with names and prompts.
        name_col: Name of the column containing the name. Default is "name".
        prompt_col: Name of the column containing the prompt. Default is "prompt".

    Returns:
        pd.DataFrame: DataFrame with columns 'name', 'token_ids', 'token_strs', 'token_positions'.
    """
    results = []
    for _, row in df.iterrows():
        name = row[name_col]
        prompt = row[prompt_col]
        
        # Tokenize prompt
        prompt_tokens = model.to_tokens(prompt, prepend_bos=True)[0].tolist()

        # Tokenize the name
        name_tokens = model.to_tokens(f" {name}", prepend_bos=False)[0].tolist()
        name_token_strs = model.to_str_tokens(f" {name}", prepend_bos=False)
        
        # Find positions of name tokens in the prompt
        positions = [ model.get_token_position(single_token=int(token), input=prompt, prepend_bos=True) for token in name_tokens ]

        results.append({
            "subject_name": name,
            "subject_token_ids": ",".join([str(t) for t in name_tokens]),
            "subject_token_strs": ",".join([str(t) for t in name_token_strs]),
            "subject_token_positions": ",".join([str(p) for p in positions]),
            "last_token_position": len(prompt_tokens) - 1
        })
        
    return pd.DataFrame(results)

In [97]:
def create_dataset(names: pd.DataFrame,
                   model: HookedTransformer,
                   prompt: str,
                   prompt_type: int,
                   dataset_size: int = DATASET_SIZE,
                   gdr_prop_thres: float = QUANTILE_THRESHOLD,
                   he_token: int = 339,
                   she_token: int = 673
                   ) -> pd.DataFrame:
    """
    Creates a dataset by generating prompts and collecting model responses.

    Args:
        names: DataFrame containing names for prompt generation.
        model: The model used for generating responses.
        prompt: The prompt template to use for generation.
        dataset_size: The desired size of the dataset.
        template_type: The type of template to use.
        gdr_prop_thres: The threshold for gender proportion in the dataset.

    Returns:
        Dataset: The generated dataset.
    """
    males   = names[ names["M_weighted_norm"] > names["F_weighted_norm"] ]
    females = names[ names["F_weighted_norm"] > names["M_weighted_norm"] ]

    m_quantile = males["M_weighted_norm"].quantile(gdr_prop_thres)
    f_quantile = females["F_weighted_norm"].quantile(gdr_prop_thres)
    
    males   = males[ males["M_weighted_norm"] >= m_quantile ]
    females = females[ females["F_weighted_norm"] >= f_quantile ]

    sampled_males   = males.sample(n=dataset_size // 2, weights="M_weighted_norm", replace=False)
    sampled_females = females.sample(n=dataset_size // 2, weights="F_weighted_norm", replace=False)

    data_1 = pd.concat([sampled_males, sampled_females], axis=0).reset_index(drop=True)
    data_2 = pd.concat([sampled_females, sampled_males], axis=0).reset_index(drop=True)

    data_1["expected_token_id"] = he_token
    data_2["expected_token_id"] = she_token    

    data_1 = data_1.add_suffix("_1")
    data_2 = data_2.add_suffix("_2")

    data = pd.concat([data_1, data_2], axis=1).reset_index(drop=True)

    data = data.assign(**get_prompts(data, prompt))
    data = data.assign(**get_name_token_info(model, data))
    data["id"] = range(1, len(data) + 1)
    data["prompt_type"] = prompt_type
    data["expected_token_id"] = data.apply(lambda row: he_token if row["M_weighted_norm_1"] > row["F_weighted_norm_1"] else she_token, axis=1)

    return data

In [98]:
dataset_df = pd.DataFrame()

with open("../src/json/templates_he_she.json", "r", encoding="utf-8") as f:
    jdata = json.load(f)

    df_filtered = df[ df[f"{MODEL_NAME}-size"] == TOKEN_NAME_SIZE ]
    df_filtered = df_filtered[ ["name", "F_weighted_norm", "M_weighted_norm", "gpt2-small", "gpt2-small-size"] ]

    for _ in range(PROMPT_TYPE_SIZE):
        prompt      = random.choice(jdata["templates"][TEMPLATE_TYPE]["prompt_templates"])
        complements = jdata["complements"]
        prompt      = fill_prompt(prompt, complements)

        data = create_dataset(names=df_filtered, 
                              model=model, 
                              prompt=prompt, 
                              prompt_type=_)

        if len(dataset_df) == 0:
            dataset_df = data
        else:
            dataset_df = pd.concat([dataset_df, data], axis=0).reset_index(drop=True)

In [99]:
features = Features({
    "id": Value("int32"),
    "prompt_type": ClassLabel(names=[f"type_{i}" for i in range(PROMPT_TYPE_SIZE)]),
    "prompts":{
        "org_prompt": Value("string"),
        "corr_prompt": Value("string"),
        "ablated_prompt": Value("string")
    },
    "subject":{
        "token_idxs": Sequence(Value("int32")),
        "tokens": Sequence(Value("string")),
        "pos": Sequence(Value("int32"))
    },
    "end":{
        "pos": Value("int32")
    },
    "expected_token_id": Value("int32")
})

shared_config = {
    "F": {"token": " she",
          "token_id": she_token
        },
    "M": {"token": " he",
          "token_id": he_token
        }
}

In [100]:
dataset_dict = {
    "id": dataset_df["id"].tolist(),
    "prompt_type": dataset_df["prompt_type"].tolist(),
    "prompts":[
        {
            "org_prompt": org,
            "corr_prompt": corr,
            "ablated_prompt": ablated
        } for org, corr, ablated in zip(dataset_df["original_prompt"].tolist(),
                                       dataset_df["corrupted_prompt"].tolist(),
                                       dataset_df["ablation_prompt"].tolist())
    ],
    "subject":[
        {
            "token_idxs": [int(t) for t in token_ids.split(",")],
            "tokens": [str(t) for t in token_strs.split(",")],
            "pos": [int(p) for p in positions.split(",")]
        } for token_ids, token_strs, positions in zip(dataset_df["subject_token_ids"].tolist(),
                                                     dataset_df["subject_token_strs"].tolist(),
                                                     dataset_df["subject_token_positions"].tolist())
    ],
    "end":[
        {"pos": pos} for pos in dataset_df["last_token_position"].tolist()
    ],
    "expected_token_id": dataset_df["expected_token_id"].tolist()
}

In [101]:
final_dataset = Dataset.from_dict(dataset_dict, features=features)

In [102]:
final_dataset["prompts"]["org_prompt"][[ idx for idx in range(1, 1000, 100)]] # type: ignore

['At the meeting, Richard acknowledged with a sense of urgency when',
 'A few days back, Logan announced in a sad voice that',
 'At the meeting, Robert announced amid the chaos that',
 'At the party, Robert admitted to the assembly when',
 'Last time Steven announced in a nervous voice when',
 'As I recall, Blake acknowledged with determination why',
 'Having a clear purpose, Charles said in a hesitant voice what',
 'In the past, Eric declared in a hesitant voice what',
 'When Joshua revealed with excitement why',
 'From that day on, Luis acknowledged to the crowd that']

In [105]:
final_dataset[160]

{'id': 61,
 'prompt_type': 1,
 'prompts': {'org_prompt': 'A few days back, Nancy announced in a sad voice that',
  'corr_prompt': 'A few days back, Christian announced in a sad voice that',
  'ablated_prompt': 'A few days back, someone announced in a sad voice that'},
 'subject': {'token_idxs': [18496], 'tokens': [' Nancy'], 'pos': [6]},
 'end': {'pos': 12},
 'expected_token_id': 673}

In [104]:
final_dataset.save_to_disk(f"../datasets/{TEMPLATE_TYPE}_{TOKEN_NAME_SIZE}_tokens")

Saving the dataset (1/1 shards): 100%|██████████| 1000/1000 [00:00<00:00, 65753.81 examples/s]